<head th:fragment="header">
<meta http-equiv="Content-Type" name="viewport"
	content="width=device-width, initial-scale=1; text/html; charset=ISO-8859-1" />
<link rel="stylesheet"
	href="/mywebsite/resources/style/bootstrap.min.css" />
<link rel="stylesheet" href="/mywebsite/resources/style/mystyle.css" />
<script src="/mywebsite/resources/js/jquery.min.js"></script>
<script src="/mywebsite/resources/js/bootstrap.min.js"></script>
</head>

<div th:fragment="companytitle" class="mywebsite text-center">
	<h1>Quare Company</h1>
	<span><i>The best in the world...</i></span>
</div>